<nav class="navbar navbar-light bg-light">

  <div class="navbar-brand">
    <%= t('.admin_panel') %>: |
    <%= link_to 'TestGuru', root_path, class: 'text-primary' %> |
    <%= link_to 'Gists', admin_gists_path, class: 'text-primary' %> |
    <%= link_to 'Badges', admin_badges_path, class: 'text-primary' %> |
  </div>

  <div class="navbar-text">
    <%= t('.welcome') %>, <b><%= current_user.email %></b> Guru |
    <%= link_to t('.exit'), destroy_user_session_path, method: :delete %>
  </div>
</nav>
