<h1><%= t('.test', title: @test_passage.test.title) %></h1>

  <h3><%= t('.result') %></h3>

  <% if @test_passage.successful_test? %>
    <p id="true">
      <strong><%= t('.success') %></strong><br>
      <%= @test_passage.result_percent  %>
    </p>
  <% else %>
    <p id="false">
      <strong><%= t('.unsuccess') %></strong><br>
      <%= @test_passage.result_percent %>
    </p>
  <% end %>

  <p><%= link_to t('.to_tests'), root_path %></p>
