<div class="row justify-content-center">
  <div class="col col-md-6">

    <h1 class="text-center"><%= t('.passage_test') %><%= @test_passage.test.title %> </h1>

      <p class="font-weight-bold">
        <%= t('.question') %><%= @test_passage.number_question %>
        <%= t('.from') %> <%= @test_passage.quantity_questions %>
      </p>

      <p>
        <%= @test_passage.current_question.body %>
      </p>

      <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
        <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
        <p>
          <%= b.check_box id: "answer_ids_#{b.object.id}" %>
          <%= b.label %>
        </p>
        <% end %>

        <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
        <p><%= form.submit t('.next'), class: 'btn btn-indigo btn-sm m-0' %></p>

        <% if @test_passage.test.have_timer? %>
          <%= content_tag :bold, '0:00', class: 'timer', data: { time: @test_passage.time_left, id: @test_passage.id } %>
        <% end %>

        <%= content_tag :div,
                        class: "progress",
                        data: { current_question: @test_passage.number_question,
                              max_questions: @test_passage.quantity_questions } do %>
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar"></div>
        <% end %>
      <% end %>
  </div>
</div>
