<div class="row justify-content-center">
  <div class="col col-md-8">

    <h1 class="text-center"><%= t('.header') %></h1>

    <p>
      <%= link_to t('.new_test'), new_admin_test_path %>
    </p>

    <%= render 'shared/errors', resource: @test %>

    <table class="table table-borderless">
      <tr>
        <th class="sort-by-title pointer"><%= t('.name') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th class="text-center"><%= t('.complexity') %></th>
        <th class="text-center"><%= t('.questions') %></th>
        <th class="text-center"><%= 'Лимит времени' %></th>
        <th class="text-center" colspan="3"><%= t('.movie') %></th>
      </tr>

      <%= render @tests %>
    </table>
  </div>
</div>
