<h1><%= t('.header') %></h1>

  <table>
    <tr>
      <th><%= t('.test_name') %></th>
      <th><%= t('.test_complexity') %></th>
      <th><%= t('.test_questions') %></th>
      <th><%= t('.test_movie') %></th>
    </tr>

    <%= render @tests %>

  </table>
