<h1><%= t('.header') %></h1>

  <table>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.complexity') %></th>
      <th><%= t('.questions') %></th>
      <th><%= t('.movie') %></th>
    </tr>

    <%= render @tests %>

  </table>
